$primary: #f5cf49;
$purple: #A958A5;

$color-black-light: #242424;
// $color-grey-light: #cecece;
// $color-grey-light: #DFDFDF;
$color-semi-grey: #9F9F9F;
$color-grey: #A4A4A4;
$color-medium-grey: #b4b4b4;
$color-dark-grey: #616161;
$color-darker-grey: #808080;
$color-grey-normal: #868686;
$color-grey-light: #d4d4d4;
$font-primary: "Noir Pro";
$font-Noir-Pro-Bold: "Noir Pro Bold";
$font-Noir-Pro-semiBold: "Noir Pro Semi Bold";
$font-Noir-Pro-Light: "Noir Pro Light";

$transition: all 0.3s ease-in-out;

$font-body-1: 18px;
$font-body-2: 16px;
$font-body-3: 14px;
$font-body-4: 12px;

$line-height-b1: 1.5;
$line-height-b3: 1.1;

$h1: 80px;
$h2: 64px;
$h3: 48px;
$h4: 32px;
$h5: 24px;
$h6: 20px;
