@font-face {
    font-family: 'Noir Pro';
    src: url("../fonts/NoirPro-Regular.otf") format('opentype');
}
@font-face {
    font-family: 'Noir Pro Light';
    src: url("../fonts/NoirPro-Light.otf") format('opentype');
}
@font-face {
    font-family: 'Noir Pro SemiBold';
    src: url("../fonts/NoirPro-SemiBold.otf") format('opentype');
}
@font-face {
    font-family: 'Noir Pro Bold';
    src: url("../fonts/NoirPro-Bold.otf") format('opentype');
}