@import "fonts.scss";
@import "../lib/bootstrap/dist/scss/_functions.scss";
@import "../lib/bootstrap/dist/scss/_variables.scss";
@import "custom-variables.scss";

html {
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Noir Pro";
    background-color: #242424;
}
a {
    text-decoration: none;
}
.nav-logo {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-select: none;
    width: auto;
    max-height: 50px;
}
.logo-text {
    font-family: Warden;
    font-size: 1.8em;
    color: $white;
    align-self: center;
    user-select: none;
}
.anime-btn {
    border-radius: 10px;
    font-weight: 500;
    height: auto;
    text-align: center;
    -webkit-transition: $transition;
    transition: $transition;
    position: relative;
    z-index: 1;
    border-right: none;
    background: $color-black-light;

    &.btn-dark {
        padding: 5px 10px;
        border-radius: 3px;
        border: 2px solid $purple;
        border-radius: 8px;
        color: $white;

        &.border-change {
            border: 2px solid $primary;

            &:hover {
                background: $primary;
                color: $white;
            }
        }

        &:hover {
            background: $purple;
            color: $white;
        }
    }

    &.light {
        border: 2px solid $primary;
        color: $white;

        &:hover {
            background: $primary;
        }
    }
}

@media only screen and (max-width: 991px) {
    .anime-btn.btn-large {
        padding: 18px 35px;
    }
}

.anime-btn2 {
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    transition: 300ms ease;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        top: 100%;
        left: 0;
        transition: 500ms ease;
    }

    &:hover::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.light {
        border: 2px solid $primary;
        color: $white;

        &:hover {
            color: $black;
        }

        &::before {
            background: $primary;
        }
    }

    &.dark {
        border: 2px solid $purple;
        color: $white;

        &::before {
            background: $purple;
        }
    }
}

/* -----------------------
  Heading Styles 
--------------------------*/
.heading {
    &.style-1 {
        margin-bottom: 40px;

        h2 {
            width: 100%;
            font-family: $font-Noir-Pro-Bold;
            font-weight: 700;
            font-size: 40px;
            color: $white;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;

            span {
                color: $color-grey-light;
                font-weight: 400;
                font-size: 20px;
                text-transform: uppercase;

                .active i {
                    color: $primary;
                }
            }
        }

        span {
            font-weight: 400;
            font-size: 20px;
            color: $color-grey-light;
        }

        p {
            font-size: 16px;
            color: $color-grey-normal;
        }
    }

    &.style-2 {
        margin-bottom: 50px;

        h2 {
            font-weight: 600;
            font-size: 30px;
            color: $dark;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            text-align: right;
            color: $color-grey-normal;

            i {
                color: $dark;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .heading.style-1 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {

    .heading.style-1 h2 {
        justify-content: center;
        flex-direction: column;
        font-size: 30px;
    }

    .heading.style-1 h2 span {
        font-size: 14px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 492px) {
    .heading.style-1 {
        margin-bottom: 20px;
        text-align: center;

        span {
            font-size: 12px;
        }

        h2 {
            font-size: 30px;

            span {
                padding-top: 5px;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .heading.style-1 {

        p {
            font-size: 14px;
            text-align: center;
        }
    }

    .heading.style-2 {

        h2 {
            text-align: center;
        }

        p {
            a {
                display: none;
            }
        }
    }
}

/* -----------------------
  Card 
--------------------------*/
.card {
    background-color: #f1f1f1;
    border-radius: 0;
    border: none;
}

.card-body {
    padding: 30px 0px;
}

//Input


input,
.form-control {
    border: none;
    border-radius: 0px;
    background-color: $color-black-light;
    color: $dark;
    padding: 5px 20px;
    font-weight: 400;
    width: 100%;
    color: $color-grey-light;
    border: 1px solid $color-grey-light;
    /* box-shadow: 0 24px 48px -15px rgba(153, 161, 170, 0.25); */
    /* -- Placeholder -- */
}

input:focus,
.form-control:focus {
    outline: none;
    background-color: $color-black-light;
    color: $white;
    border: 1px solid $color-grey-light;
    border-left: none;
    box-shadow: none;
}

input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: $color-grey;
    /* Firefox */
    opacity: 1;
}

.input-group-text {
    border-color: $color-grey-light;
}

.input-group input {
    border-radius: 0 10px 10px 0;
}

input::-moz-placeholder,
.form-control::-moz-placeholder {
    color: $color-grey;
    /* Firefox */
    opacity: 1;
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: $color-grey;
    /* Firefox */
    opacity: 1;
}

input::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: $color-grey;
    /* Firefox */
    opacity: 1;
}

input::placeholder,
.form-control::placeholder {
    color: $color-grey;
    /* Firefox */
    opacity: 1;
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-grey;
}

input::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color-grey;
}

.input-group .anime-btn {
    border-color: $color-grey-light;
}

.input-group .anime-btn i {
    color: $color-grey-light;
}

input {
    height: 40px;
}

input[type='checkbox'] {
    height: auto;
    width: auto;
    background-color: var(--color-grey);
}

input[type='checkbox']:checked {
    accent-color: $primary;
}

input[type='range']::-webkit-slider-thumb {
    background: $primary;
}

input[type='radio'] {
    height: auto;
    width: auto;
}

input[type='radio']:checked {
    accent-color: $primary;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: $dark;
    margin-bottom: 10px;
}

label.error {
    display: table !important;
    margin-bottom: 0px !important;
    color: red !important;
    padding-top: 5px !important;
}

.error-msg,
.success-msg {
    margin-top: 25px;
}

.error-msg p,
.success-msg p {
    margin-bottom: 0;
    font-size: 14px;
}

.error-msg p {
    color: #ff0000;
}

.success-msg p {
    color: #15c54b;
}

.sec-mar {
    margin: 80px 0;
}

.sec-pad {
    padding: 50px 0;
}

@media only screen and (max-width: 992px) {
    .sec-mar {
        margin: 50px 0;
    }
}

.play-btn {
    border-radius: 10px;
    margin-top: 20px;
    background: rgba(17, 17, 17, 0.5);
    padding: 8px;
    overflow: hidden;
    position: relative;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding: 8px 100px;
    text-transform: uppercase;
    transition: 300ms ease;
    border: 2px solid $primary;
    color: $white;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        top: 100%;
        left: 0;
        transition: 500ms ease;
        background: $primary;
    }

    &:hover {
        background: transparent;
        color: $dark;

        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
//LOGIN
.login {
    background: url(../assets/login-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 913px;
}

.login.signup {
    background: url(../assets/sign-up.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 913px;
}

.login-block {
    background: rgba(0, 0, 0, 0.8);
    width: 450px;
    margin: 0 auto;
    padding: 50px 50px;
    height: 913px;
}

.login-content {
    width: 350px;
    height: 700px;
    display: inline;
    vertical-align: middle;
    position: relative;
}

.login-content .user-icon {
    margin-bottom: 15px;
    font-size: 80px;
}

.login-content h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: $white;
}

.login-content label {
    display: inline;
    color: var(--ligh-grey);
    padding-left: 10px;
    margin-bottom: 24px;
}

.login-content .policy {
    color: $color-grey-light;
    margin: 24px 0;
}

.login-content p a {
    border: none;
    width: auto;
    color: $primary;
    margin: 0;
    font-size: 22px;
    display: inline-block;
}

.login-content button {
    font-size: 25px;
    margin-bottom: 30px;
}

.login-content p a:hover {
    -webkit-transition: $transition;
    transition: $transition;
    color: $purple;
}

.login-content .form-group input::placeholder {
    color: $color-medium-grey;
}

.login-content .form-group input:focus,
.login-content .form-group input:hover {
    border: 1px solid $color-medium-grey;
}

.login-content button {
    width: 100%;
    min-height: 50px;
    background: transparent;
}

.login-content button.hide-link {
    width: 100%;
    margin: 0 auto;
    padding: 9px;
    margin-bottom: 20px;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid $color-grey-light;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    color: $white;
}

.login-content button.hide-link img {
    padding-right: 20px;
}

.login-content .guide {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $white;
}

.login-content .guide a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    color: $primary;
}

.login
.form-control {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: $dark;
    padding: 28px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    color: $color-grey-light;
    border: 1px solid $color-grey-light;
}

.login .password-type-field {
    position: relative;
}

.login .password-type-field span i {
    color: $color-grey-light;
    cursor: pointer;
}

.login .password-type-field .field-icon {
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 16px;
    z-index: 2;
}

input:focus,
.form-control:focus {
    outline: none;
    background-color: transparent;
    color: $white;
    border: 1px solid $color-grey-light;
    box-shadow: none;
}

@media only screen and (max-width: 990px) {

    .login-content::before {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .login-content::after {
        display: none;
    }

    .login-block {
        margin: 0 auto;
    }

    .login-content {
        height: 90%;
    }
}

@media only screen and (max-width: 492px) {
    .login-block {
        width: 320px;
        padding: 10px;
    }

    .login-content a {
        width: 210px;
        font-size: 12px;
    }

    .login-content label {
        padding-bottom: 0;
    }

    .login-content p {
        padding-top: 20px;
        font-size: 12px;
    }
}
.header.style-1 {
    background: $black;
}

.header.style-1 nav {
    z-index: 999;
}

.header.style-2 .container {
    position: relative;
}

.header.style-2 nav {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.header .navbar-toggler {
    float: right;
    border: none;
    margin-left: 25px;
    i {
        font-size: 2em;
    }
}

.header .navbar-toggler {
    color: $white;
}

.header .navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.header nav .navbar-brand {
    padding: 0;
    width: 200px;
}

.header nav i {
    color: $color-grey-light;
    font-size: 17px;
}


.mainmenu > li {
    margin: 0 10px;
}

.mainmenu > li > a {
    color: $color-grey-light;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    display: block;
    position: relative;
    -webkit-transition: $transition;
    transition: $transition;
}

.header.style-2 .mainmenu > li > a {
    color: $white;
}

.header .mainmenu > li > a:hover {
    color: $purple;
}

.header .mainmenu > li > a.active {
    color: $primary;
}

.mainmenu > li > a.active::before {
    width: 100%;
    opacity: 1;
}

.mainmenu > .menu-item-has-children {
    position: relative;
}

.mainmenu > .menu-item-has-children > a {
    position: relative;
}

.header.style-1 .header-search-box {
    width: 400px;
    margin: 0 15px;
}

.header.style-2 form {
    width: 40%;
    margin-left: 30px;
}

.header.style-2 .header-search-box {
    width: 100%;
}

.header.style-3 .side-navbar .navbar-collapse .navbar-nav li .anime-btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.04em;
    height: auto;
    text-align: center;
    -webkit-transition: $transition;
    transition: $transition;
    position: relative;
    z-index: 1;
    background: $color-black-light;
    letter-spacing: 1px;
}

.header.style-3 .side-navbar .navbar-collapse .navbar-nav li .anime-btn:hover {
    color: $white;
    background: $purple;
}

.header.style-3 .side-navbar .navbar-collapse .navbar-nav li .anime-btn.anime-btn.border-change:hover {
    color: $white;
    background: $primary;
}

.header.style-3 .side-navbar {
    height: 799px;
}

.header .dropdown-menu.show {
    width: 430px;
}

.header .dropdown-menu.show li {
    width: 46%;
    display: inline-block;
}

.header .dropdown-menu.show a {
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    color: $color-grey-light;
    text-transform: capitalize;
}

.header .dropdown-menu.show a.active {
    color: $primary;
}

.header .dropdown-menu.show a:hover {
    transition: $transition;
    color: $purple;
}

@media only screen and (min-width: 992px) {
    header.style-3.header-frame {
        width: 18%;
    }

    .header.style-3 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .header.style-3 .side-navbar {
        padding: 50px 10px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.25);
        max-width: 10%;
    }

    .header.style-3 .side-navbar img {
        height: 30px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .header.style-3 .side-navbar .navbar-collapse {
        flex-direction: column;
    }

    .header.style-3 .side-navbar .navbar-collapse .navbar-nav {
        flex-direction: column;
        justify-content: center;
    }

    .header.style-3 .side-navbar .navbar-collapse .navbar-nav li {
        margin-bottom: 20px;
    }
}

.header.style-3 .side-navbar .navbar-collapse .navbar-nav li .dropdown-menu.show li {
    margin: 0;
}

@media only screen and (max-width: 1399px) {
    .header.style-1 .header-search-box {
        width: 250px;
    }

    .header.style-2 form {
        width: 34%;
    }

    .header.style-3 {
        max-width: 200px;
    }

    .header.style-3 .side-navbar {
        height: 720px;
    }
}

@media only screen and (992px <= width <= 1199px) {

    .header.style-1 .header-search-box {
        width: 150px;
    }
}

@media only screen and (max-width: 992px) {
    .header.style-1 {
        height: 80px;
    }

    .header.style-1 .header-search-box {
        width: 350px;
        margin: 10px 0 0 0;
    }

    .header.style-1 .navbar-collapse {
        background: rgba(17, 17, 17, 0.9);
        padding: 20px;
        border-radius: 0 0 15px 15px;
        margin-top: 15px;
    }

    .header.style-2 .navbar-collapse {
        background: rgba(17, 17, 17, 0.9);
        padding: 20px;
        border-radius: 0 0 15px 15px;
        margin-top: 15px;
    }

    .header.style-2 form {
        width: 100%;
        margin-left: 0;
    }

    .header.style-2 .header-search-box {
        padding: 0 10px;
    }

    .header.style-2 .anime-btn.btn-dark {
        font-size: 24px;
    }

    .header.style-2 .navbar-collapse i {
        font-size: 18px;
    }

    .header.style-3 .side-navbar .navbar-collapse .right-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header.style-3 .side-navbar {
        height: auto;
    }

    .header.style-3 .navbar-collapse .navbar-nav li .anime-btn {
        width: 130px;
    }

    .header.style-3 .navbar-collapse {
        padding-top: 30px;
    }

    .header.style-3 .navbar-collapse form {
        width: 400px;
    }

    .header.style-3 {
        max-width: 100%;
        padding: 20px 30px;
        background-color: #111111;
    }

    .mainmenu > li > a {
        font-size: 28px;
    }

    .header input {
        height: 50px;
    }

    .mainmenu > li {
        margin: 10px 10px;
    }

    .header nav .right-nav {
        margin: 10px;
    }
}

@media only screen and (max-width: 492px) {
    .header.style-1 .header-search-box {
        width: 100%;
        margin: 10px 0 24px 5px;
    }

    .header .dropdown-menu.show {
        width: 100%;
        padding: 10px 5px;
    }

    .header .dropdown-menu.show a {
        font-size: 13px;
        padding: 5px;
    }

    .header input {
        height: 40px;
    }

    .mainmenu > li {
        margin: 5px 5px;
    }

    .mainmenu > li > a {
        font-size: 18px;
    }

    .header.style-3 .side-navbar .navbar-collapse form {
        width: 100%;
    }

    .header.style-2 .navbar-collapse {
        background: rgba(17, 17, 17, 0.9);
        padding: 10px;
        border-radius: 0 0 15px 15px;
        margin-top: 10px;
    }

    .header.style-2 .header-search-box {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header.style-2 .anime-btn.btn-dark {
        font-size: 16px;
    }

    .header.style-2 .navbar-collapse i {
        font-size: 14px;
    }

    .header input,
    .form-control {
        padding: 5px;
    }

    .header nav .right-nav {
        margin: 5px 5px;
    }
}
