@import "fonts.scss";
@import "../lib/bootstrap/dist/scss/_functions.scss";
@import "../lib/bootstrap/dist/scss/_variables.scss";
@import "custom-variables.scss";

html {
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Noir Pro";
    background-color: #171717;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.nav-logo {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-select: none;
    width: auto;
    max-height: 50px;
    width: auto;
}

.logo-text {
    font-family: Warden;
    font-size: 1.8em;
    color: $white;
    align-self: center;
    user-select: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}


.cover-image {
    width: auto;
    border-radius: 15px;
    aspect-ratio: 16/9;
    max-height: 600px;
}

.bg-banner {
    position: absolute;
    width: 100%;
    z-index: -2;
    background-size: cover;
    top: -5%;
    filter: blur(6px);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 85% 76%, 73% 84%, 58% 74%, 45% 84%, 36% 73%, 14% 81%, 0 76%);
    height: 1500px;
}

.comic-content {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(17, 17, 17, 0.9);
    flex-direction: column;
    min-height: 100vh;
    display: flex;

    .video {
        padding-top: 80px;
    }

    .relese {
        margin-top: 50px;
        padding-bottom: 50px;
    }
}

.file-caption .input-group {
    align-items: stretch !important;
}

.textarea_danger {
    border: 2px solid red !important;
}

.textarea:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid blue;
}

.fav {
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-position: right;
    }
}

.heart {
    cursor: pointer;
    height: 75px;
    width: 75px;
    background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

.heart {
    animation: heart-burst 1s infinity;
}

.is_animating {
    animation: heart-burst .8s steps(28) 1;
}
/* Style for the banner container */
.banner {
    position: relative;
    color: #171717;
    text-align: center;
    padding: 65px;
    overflow: hidden;
}


.banner::before {
    content: "";
    background-image: url('/assets/home-page-banner.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px); 
    z-index: -1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
}

.logo {
    animation: fadeIn steps(1s, step-start);
    min-width: 20%;
    max-width: 20%;
    vertical-align: middle;
}


.text {
    animation: fadeIn 1s;
    font-family: 'Warden', sans-serif;
    font-size: 100px;
    display: block;
    margin: 20px 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 576px) {
    .text {
        font-size: 50px;
    }
}