@model List<ChapterImageModel>

<div id="canvas">
    <div class="flipbook-viewport">
        <div class="container">
            <div class="flipbook">
                <div class="hard" style="background-image:url(https://picsum.photos/1080/1920?random=0);background-size: cover;">
                </div>
                @for (int i = 0; i < 10; i++)
                {
                    <div style="background-image:url(https://picsum.photos/1080/1920?random={@i});background-size: cover;"></div>
                }
                <div class="hard" style="background-image:url(https://picsum.photos/1080/1920?random=11); background-size: cover;"></div>
            </div>
        </div>
    </div>
</div>