<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel">How to use the comic reader?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Just click or pull the edge of the page on PC.
                    </li>
                    <li>
                        If you are using your phone, just swipe down to read.
                    </li>
                    <li>
                        Refresh the page to fix the PC reader size.
                    </li>
                </ul>
                <img src="~/assets/reader-tutorial.gif"/>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary m-auto w-50" data-bs-dismiss="modal">Understood</button>
            </div>
        </div>
    </div>
</div>

