@model ChapterModel

<div id="canvas" class="d-none d-lg-block">
    <div class="flipbook-viewport">
        <div class="container g-0">
            <div id="flipbook" class="flipbook">
                <div class="hard" style="background-image:url(@Model.CoverImageUrl); background-size: 100% 100%;"></div>
                @foreach (var image in Model.ChapterImages)
                {
                    <div style="background-image:url(@image.ImagePath);background-size: 100% 100%;"></div>
                }
                <div class="hard" style="background-image:url(@Model.CoverImageUrl); background-size: 100% 100%;"></div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-md-block d-lg-none">
    @foreach (var image in Model.ChapterImages)
    {
        <img src="@image.ImagePath" />
    }
    <div class="d-flex justify-content-between mb-4 mt-5">
        <partial name="_ChapterNavigationsPartial" model="Model">
    </div>
</div>  