
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Comixer</title>
<link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Comixer.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
