@using Comixer.Core.Models.Genre;
@model IEnumerable<GenreModel>
<ul class="filter-block style-2">
    <li class="w-100 mt-0">
        <a href="#" class="anime-btn btn-dark dropdown-toggle" id="genre" data-bs-toggle="dropdown"
           data-bs-auto-close="outside" aria-expanded="false">
            Choose Genres <span><i class="bi bi-chevron-down"></i></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="genre">
            @if (ViewBag.Genres is not null)
            {
                @foreach (var genre in ViewBag.Genres)
                {
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@genre.Name" value="@genre.Name">
                            <label class="custom-control-label check-highlight" for="@genre.Name">@genre.Name</label>
                        </div>
                    </li>
                }
            }
        </ul>
    </li>
</ul>