@model CreateComicModel
@{
    ViewData["Title"] = "Publish";
}
<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-12">
                <form method="POST" asp-action="Publish" enctype="multipart/form-data">
                <div class="row pb-5">
                        <div class="col-lg-4 col-sm-12 col-12">
                            <div class="img-box">
                                <div class="file-loading">
                                    @* krajee docs for the drag & drop file input*@
                                    <input asp-for="CoverImage" class="file" id="cover-image" type="file" accept="image/*"
                                           data-msg-placeholder="Image select" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="noir-semi-bold" asp-for="Title">Title</label>
                                <input asp-for="Title" class="form-control mb-2" type="text" name="Title" maxlength="80" placeholder="Name of your comic" required>
                                <span asp-validation-for="Title" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label class="noir-semi-bold" asp-for="Description">Description</label>
                                <textarea asp-for="Description" class="form-control rounded-2 mb-2" id="exampleFormControlTextarea1" maxlength="300" rows="3" placeholder="Write a short description of your comic"></textarea>
                                <span asp-validation-for="Description" class="error"></span>
                            </div>
                            <ul class="filter-block style-2">
                                <li class="w-100 mt-0">
                                    <a href="#" class="anime-btn btn-dark dropdown-toggle" id="genre" data-bs-toggle="dropdown"
                                       data-bs-auto-close="outside" aria-expanded="false">
                                        Choose Genres <span><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="genre">
                                        @if (ViewBag.Genres is not null)
                                        {
                                            @foreach (var genre in ViewBag.Genres)
                                            {
                                                <li>
                                                    <div class="custom-control custom-checkbox">
                                                        <input asp-for="SelectedGenres" type="checkbox" class="custom-control-input" id="@genre.Name" value="@genre.Name">
                                                        <label class="custom-control-label check-highlight" for="@genre.Name">@genre.Name</label>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <button type="submit" class="anime-btn btn-dark border-change float-end">
                                Create Comic
                            </button>
                        </div>
                </div>
                    </form>
            </div>
            <div class="col-lg-3 offset-lg-0 col-sm-8 offset-sm-2 col-12">
                <div class="profile-link bg-color-black">
                    <h5>Important Links</h5>
                    <a href="watch-history.html" class="pb-3">Read Hisorty</a>
                    <h5>Playlists</h5>
                    <a href="playlist.html">Read Later</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/piexif.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
    <script src="~/js/maxlength.js"></script>
    <script>
        $(() => {
            $('[maxlength]').maxlength();
        });
        $("#cover-image").fileinput(
            {
                showUpload: false,
                previewFileType: 'any',
                overwriteInitial: false,
                dropZoneTitle: "Comic Cover Image",
                showRemove: false,
                browseIcon: "<i class=\"bi-file-image\"></i>",
                browseLabel: "Pick Image",
                captionClass: "rounded-start"

            });
    </script>
}